---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---
<h3>Analyzing Team and Player Performance in the 2023 Cricket World Cup</h3> 
This project examines the performance of teams and players in the 2023 Cricket World Cup, focusing on key aspects such as batting and bowling statistics, wicket dismissal types, and venue impact. As one of the most prestigious international cricket tournaments, the World Cup brings together top teams from around the globe. The 2023 edition, hosted in India, featured ten teams competing across multiple venues. This analysis provides valuable insights into the factors influencing match outcomes, shedding light on team strategies and individual performances that shaped the tournament.

The link to the work can be found <a href="https://github.com/venkateshv90/Machine-Learning/tree/main/Cricket-World-Cup-2023> here</a>.


{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

