---
layout: archive
title: "Projects"
permalink: /portfolio.html
author_profile: true
---

Analyzing Team and Player Performance in the 2023 Cricket World Cup
In this project, I examined the performance of teams and players in the 2023 Cricket World Cup, focusing on key aspects such as batting and bowling statistics, wicket dismissal types, and venue impact. As one of the most prestigious international cricket tournaments, the World Cup brings together top teams from around the globe. The 2023 edition, hosted in India, featured ten teams competing across multiple venues. I utilized Python programming and various data visualization frameworks such as Matplotlib and Plotly to generate easy-to-visualize "https://github.com/venkateshv90/Machine-Learning/tree/main/Cricket-World-Cup-2023" plots and charts. This analysis provides valuable insights into the factors influencing match outcomes, shedding light on team strategies and individual performances that shaped the tournament.

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

